.body {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90.6%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(231, 231, 231);
}

.chattingList {
    margin-top: 0.0935rem;
    margin-left: 0.3rem;
    width: 33%;
    height: 100%;
    overflow-y: scroll;
}

.chatting {
    width: 100%;
    height: 100%;
}

.chatWindow {
    position: relative;
    top: 7.51rem;
    width: 100%;
    height: 77%;
    overflow-y: scroll;
}

.chatProfileBox {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.chatProfile {
    display: flex;
    padding: 1rem;
}

.chatProfileImage {
    width: 5rem;
    height: 5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 0.6rem;
}

.chatNickname {
    font-size: x-large;
    font-weight: 600;
    margin-top: 1.5rem;
}

.chatInput {
    position: fixed;
    width: 73%;
    bottom: 0;
    display: flex;
    padding-left: 0.8rem;
    padding-right: 0.6rem;
}

@media screen and (max-width: 992px) {
    .chattingList {
        width: 10rem;
    }

    .chatInput {
        width: 80%;
    }
}