@media (min-width: 992px) {
    .HomeSliderBody {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}



.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; /* 또는 필요한 크기로 설정하세요 */
    /* height: 700px; /* 이미지의 높이와 동일하게 설정하세요 */
    overflow: hidden; /* 이미지가 테두리를 넘어가지 않도록 설정 */
    /*border-radius: 15px; /* 테두리 반경을 설정합니다. */
}

.image {
    position: relative;
    border-radius: 15px;
}

