.navMenuBody {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(253, 253, 253);
    z-index: 100;
}

.menuContent {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}

.line {
    width: 100%;
    height: 2px;
    background-color: rgb(240, 240, 240);
}

.logo {
    padding-top: 0.4rem;
    padding-left: 1rem;
}

@media (min-width: 992px){
    .menuList1 {
        display: flex;
        margin-right: 8px; 
        font-size: 1.35rem;
        font-weight: bold;
        margin-top: 1rem;
    }
    
    .menuList2 {
        display: flex;
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 1.1rem;
    }
    
    .menuLink {
        margin-right: 30px; /* 링크 사이의 간격을 8px로 지정 */
    }   

    .hamburger {
        display: none;
    }
}


@media (max-width: 992px) {
    .menuList1 {
        display: none;
    }

    .menuList2 {
        display: none;
    }

    .hamburger {
        margin-top: 0.85rem;
        margin-right: 0.85rem;
        width: 2.25rem;
        height: 2.25rem;
    }

    .hamburger:hover {
        color: rgb(103, 103, 103);
    }
}
