.title {
    font-size:xx-large;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.contentTitle {
    font-size:x-large;
    font-weight: 600;
    padding-left: 0.1rem;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
}