.inputForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    align-items: flex-start;
}

.label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.countryInput {
    border: none; 
    width: 18rem;
    padding-left: 0.15rem;
}

.error {
    font-size: 0.9rem;
    color: rgb(198, 84, 84);
}